@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
}

@keyframes bright-flash {
  0% { filter: brightness(1); }
  10% { filter: brightness(2.5); }
  100% { filter: brightness(1); }
}

.flash-active {
  animation: bright-flash 0.2s ease-in-out;
}
